:root {
    --accent: #9c9c9c;
    --accent-hover: #818181;
    --accent-text: #f5f0fd;
    --accent-active: #3f3f3f;
    --control: #49aa00;
    --secondary: #f4f4f7;
    --secondary-hover: #cfcdd8;
    --secondary-active: var(--accent);
    --headline-color: rgb(39, 39, 39);
    --product-text: rgba(100, 105, 150, 1);
    --product-price: rgba(29, 32, 59, 1);
    --product-description-text: #d3d2d4;
    --success: rgba(80, 189, 85, 1);
    --error: rgba(232, 113, 113, 1);
    --white: rgba(255, 255, 255, 1);
    --scrollbar-thumb: #d1d1d1;
    --scrollbar-thumb--hover: #f7b82f70;
    --scrollbar-thumb--active: #f7a72f90;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::selection {
    background: var(--accent);
    color: var(--accent-text);
}

.top-bar {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    flex-direction: row;
    color: var(--headline-color);
}

.top-bar h2 {
    font-size: 1.4rem;
    font-weight: 750;
    line-height: 1.8rem;
    color: white;
}

#gift-box-image {filter: invert(); padding-left: 8px}

.top-bar svg {
    color: var(--headline-color);
}

.action-buttons {
    position: relative;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 0.5rem;
    scroll-snap-align: start;
    width: 100%;
    flex-wrap: wrap;
}

.action-button--horizontal-scroll {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    width: 2rem;
    height: 2rem;
    background: var(--accent);
}

.action-button--horizontal-scroll svg {
    fill: var(--accent-text);
}

.action-button--horizontal-scroll:hover {
    background: var(--accent-hover);
}

.action-button--horizontal-scroll:active {
    background: var(--accent-active);
}

.action-button--horizontal-scroll:disabled {
    cursor: not-allowed;
    background: var(--secondary);
}

.action-button--horizontal-scroll:disabled svg {
    fill: var(--price-text);
}

.action-button--horizontal-scroll:disabled:hover {
    background: var(--secondary);
}

.action-button--horizontal-scroll:disabled:active {
    background: var(--secondary);
}


#action-button--previous {
    margin-left: auto;
    transform: rotate(-90deg);
}

#action-button--next {
    transform: rotate(90deg);
}

#products {
    display: flex;
    gap: 1.5rem;
    padding: 1rem 0.075rem;
    width: 100%;
    flex-direction: row;
    overflow: auto;
}

::-webkit-scrollbar {
    height: 0.6rem;
    background: var(--secondary);
    border-radius: 9.99rem;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 9.99rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb--hover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar-thumb--active);
}

.container {
    /* max-width: 50rem; */
    min-width: 18rem;
    width: 100%;
    margin: 1.5rem auto;
}

.product__card {
  background-color: lightgray;
  min-width: 22rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  transition: border 0.3s ease;
  box-shadow: 
  rgba(0, 0, 0, 0.08) 
  0px 0px 0px 1px;
  perspective: 1000px;
}

.page{
    /*
    min-width: inherit;
    overflow: inherit;
    cursor: inherit;
    margin: inherit;
    */
    background-color: inherit;
    /* padding: 0px 1rem 0px 0px; */
    gap: inherit;
    flex-direction: column;
    display: flex;
    border-radius: inherit;
    /* position: absolute ;  */
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
    /* justify-content: space-between; */
} 


#page1, #page3, #page5, #page7, #page9, #page11, #page13, #page15, #page17, #page19, #page21, #page23{
    overflow: hidden;
    backface-visibility: hidden;
}

#page2, #page4, #page6, #page8, #page10, #page12, #page14, #page16, #page18, #page20, #page22, #page24{
    transform: rotateY(180deg);
    backface-visibility: hidden;
    position: absolute;
    /* padding: 0px 1rem 0px 0px; */
    /* display: flex;
    flex-direction: column;
    text-align: center; */
}
#page2 img, #page4 img, #page6 img, #page8 img, #page10 img, #page12 img, #page14 img, #page16 img, #page18 img, #page20 img, #page22 img, #page24 img{
    height: 320px;
    object-fit: contain;
}

.product__image {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  padding: 2rem;
  border-radius: 0.75rem;
  background: #f9f9f9;
  max-width: 320px;
}

.product__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.pix_code img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product__info {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.product__description {
    color: var(--product-text);
    font-size: 1rem;
    display: -webkit-box;
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product__info__top {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: 
    space-between;
}

.product__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: 
    var(--headline-color);
}

.product__price {
  color: var(--price-text);
  font-weight: 700;
  font-size: 1.15rem;
  margin-bottom: 12px;
}

.product__buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 0.75rem;
}

.product__button {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1.125rem;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  transition: 
   background 0.3s, 
   border 0.3s;
  background: var(--accent);
  color: var(--accent-text);
}

.product__button--primary:hover {
    background: var(--accent-hover);
}

.product__button svg {
  color: var(--accent-text);
}